@{
    ViewBag.Title = "Parker's Resume";
}
<body>


    <div class="row">
        @*<div class="col-lg-3">
                <img src="~/Content/Images/TempImage.png"/>
            </div>*@
        <div class="col-xs-12">
            <h2><b>Parker Mclain</b></h2>
            <h3><b>Junior Software Engineer</b></h3>
            <table class="table table-borderless">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Age</th>
                        <td>24</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>ParkerMclain94@gmail.com</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td>(804)212-9895</td>
                    </tr>
                    <tr>
                        <th scope="row">Education</th>
                        <td>Virginia Commonwealth University - B.S. Computer Science (May 2019)</td>
                    </tr>
                    <tr>
                        <th scope="row">Job</th>
                        <td>United Parcel Service (UPS) - Software Engineering Intern</td>
                    </tr>
                    <tr>
                        <th scope="row">Website</th>
                        <td>www.parkermclain.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="DOS-Window">
        <div class="DOS-Window-Header"> C:\ParkerMclain\System32\Define.txt</div>
        <div class="DOS-WindowInside"><pre class="PreDosWindow">
> Parker.location
    => "Richmond, Virginia"

> Parker.age
    => "24"

> Parker.education
    => "Virginia Commonwealth University"

> Parker.major
    => "Computer Science"

> Parker.expectedGraduation
    => "May 2019"

> Parker.job.current
    => Current Job
        company: "United Parcel Service",
        position: "Software Engineering Intern",
        startDate: "May 2018"

> Parker.email
    => parkermclain94@gmail.com

> Parker.phoneNumber
    => 804-212-9895

> Parker.resume
    => parkermclain.pdf

> Parker.interests
    => [ "coding", "triathlon", "outdoors", "new technology" ]

        </pre>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="text-center"><h3><b>My Adventure Thus Far</b></h3></div>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <td>Skill</td>
                                <td>Experience</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Java</th>
                                <td><p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p></td>
                            </tr>
                            <tr>
                                <th scope="row">C#</th>
                                <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Javascript</th>
                                <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">HTML</th>
                                <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">CSS</th>
                                <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">SQL</th>
                                <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Visual Basic</th>
                                <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Angular</th>
                                <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">C/C++</th>
                                <td><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
